asn1crypto==0.24.0
bcrypt==3.1.7
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
click==7.1.2
cryptography==3.3.2
docopt==0.6.2
enum34==1.1.6
Flask==1.1.4
Flask-Cors==3.0.10
idna==2.6
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.11.3
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
paramiko==2.10.3
pipreqs==0.4.11
pycparser==2.21
pycrypto==2.6.1
pygobject==3.26.1
PyNaCl==1.4.0
pyxdg==0.25
requests==2.27.1
SecretStorage==2.3.1
six==1.11.0
urllib3==1.26.9
Werkzeug==1.0.1
yarg==0.1.9